{% extends "base.html" %}

{% block content %}
<h1>Todo</h1>

<ul>
    {% for item in todo %}
        <li>{{ item[1]|e }} - <a href="/items/{{ item[0] }}/complete">mark completed</a> or <a href="/items/{{ item[0] }}/delete">remove</a></li>
    {% else %}
        <li>You have no todo items</li>
    {% endfor %}
</ul>

{% if done %}
    <h1>Finished items</h2>

    <ul>
        {% for item in done %}
            <li>{{ item[1]|e }} - <a href="/items/{{ item[0] }}/complete">mark as todo</a> or <a href="/items/{{ item[0] }}/delete">remove</a></li>
        {% endfor %}
    </ul>
{% endif %}

<h1>Add a todo item</h1>

<form method="post" action="/items">
    <div class="form-group">
        <label for="inputItem">Name</label>
        <input type="text" class="form-control" id="inputItem" name="item" placeholder="Item name">
    </div>

    <p>
        <button type="submit" class="btn btn-default">Save</button>
    </p>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
